langchain-text-splitters 
langchain-community 
langchain-ollama
langgraph
dotenv
langchain[google-genai]
beautifulsoup4

streamlit
pymupdf
faiss-cpu 
numpy
sentence-transformers


pypdf2
python-dotenv
tiktoken